<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="gitea" value="https://gitea.lan/api/packages/slawomirkalandyk/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
      <packageSource key="gitea">
        <package pattern="KeePassLib*" />   
      </packageSource>
      <packageSource key="nuget">
        <package pattern="*" />
      </packageSource>
    </packageSourceMapping>
</configuration>
